@use "../colors" as *;

#Home {
    .infobanks {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        h2 {
            text-align: center;
            width: 100%;
            margin: 0;
        }

        h3 {
            text-align: left;
            margin: 0;
            color: $color-yellow;
        }
    }

    .note {
        font-size: 0.8em;
    }
}