@use "./fonts" as *;
@use "./colors" as *;
@use "./macros/episode-details";

@use "pages/home.scss";

body {
    max-width: 1440px;
    margin: auto;

    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    // font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    line-height: 1.2;

    padding-inline: 2rem;

    background:
        repeating-linear-gradient(0deg,
            $bg-grid-color 0px,
            $bg-grid-color 1px,
            transparent 1px,
            transparent 40px),
        repeating-linear-gradient(90deg,
            $bg-grid-color2 0px,
            $bg-grid-color2 1px,
            transparent 1px,
            transparent 40px);
    animation: grid-move 4s linear infinite;
    background-color: #000;
    color: $color-primary;
    z-index: 0;

    @keyframes grid-move {
        0% {
            background-position:
                0 0,
                0 0;
        }

        100% {
            background-position:
                40px 40px,
                40px 40px;
        }
    }

    a {
        color: $color-secondary;
        font-weight: 400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-transform: uppercase;
        font-family: "Bryce", "Saira", sans-serif;
    }

    header > h1:first-of-type {
        color: $color-cyan !important;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 0 0 2rem #0ff;

        &:after {
            // cursor
            content: "_";
            animation: blink 1s step-start 0s infinite;
            margin-left: 0.1em;

            @keyframes blink {

                0%,
                50% {
                    opacity: 1;
                }

                51%,
                100% {
                    opacity: 0;
                }
            }
        }
    }

    h1 {
        color: $color-yellow;
        text-shadow: 0 0 2rem #ff0;
    }

    h2 {
        color: $color-red;
        text-shadow: 0 0 2rem #f88;
    }

    h3 {
        color: $color-green;
        text-align: center;
        margin-top: 2em;
        text-shadow: 0 0 2rem #8f8;
    }

    p {
        text-justify: inter-word;

        b,
        strong {
            color: $color-yellow;
            font-weight: bold;
        }
    }

    table {
        border-collapse: collapse;
        // width: 100%;
        background-color: #0006;
        font-size: 0.85em;
        margin-inline: auto;

        tr {

            th,
            td {
                border: 1px solid darken($color-blue, 40%);
                padding: 0.25em 0.5em;
                text-align: center;
            }

            th {
                color: $color-blue;
            }

            td.label {
                font-weight: bold;
                color: $color-yellow;
            }
        }

        // td:last-child {
        //     text-align: left;
        //     font-style: italic;
        //     color: white;
        // }

        @media (max-width: 768px) {
            /* use grids */
        }
    }
}

ul {
    list-style: '> ';

    li {
        margin-block: 0.75em;
    }

    ul {
        list-style: '- ';

        li {
            margin-block: 0.5em;
        }
    }
}

code {
    color: $color-green;
}

figure {
    margin: 2em auto;
    text-align: center;

    &.right {
        float: right;
        margin-left: 2em;
    }

    img {
        max-width: 100%;
        height: auto;
        // border: 1px solid $color-blue;
        box-shadow: 0 0 6rem #66f8;
    }

    figcaption {
        margin-top: 0.5em;
        font-size: 0.8em;
        color: $color-secondary;
    }
}

blockquote {
    font-family: sans-serif;
    color: $color-secondary;
    border-left: 4px solid $color-blue;
    background-color: #6666ff22;
    padding-left: 1em;
    margin-left: 0;
    font-style: italic;
    margin-block: 2em;
    padding-block: 0.1em;
    padding-inline-end: 1em;
    width: fit-content;

    p {

        b,
        strong {
            font-style: normal;
        }

        i,
        em {
            color: $color-red;

        }
    }

}