@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Bryce";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/brutalita-custom/BrutalitaCustom-300.otf") format("opentype");
}
@font-face {
  font-family: "Bryce";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/brutalita-custom/BrutalitaCustom-400.otf") format("opentype");
}
@font-face {
  font-family: "Bryce";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/brutalita-custom/BrutalitaCustom-700.otf") format("opentype");
}
:root {
  /* --bg-grid-color2: #0ff2; */
}

table.episode-details {
  max-width: 400px;
  width: 50%;
  float: right;
  margin-inline: 4rem;
}
table.episode-details th,
table.episode-details td {
  border-color: #6bb !important;
}
table.episode-details .label {
  color: #cc6;
}
table.episode-details .frames td {
  border: none;
  padding: 1em;
}
table.episode-details .frames td img {
  width: 100%;
}
@media (max-width: 768px) {
  table.episode-details {
    float: none;
    max-width: unset;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }
  table.episode-details tr {
    flex: auto;
    display: flex;
    flex-direction: column;
  }
}

#Home .infobanks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#Home .infobanks h2 {
  text-align: center;
  width: 100%;
  margin: 0;
}
#Home .infobanks h3 {
  text-align: left;
  margin: 0;
  color: #cc6;
}
#Home .note {
  font-size: 0.8em;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20pt;
  line-height: 1.2;
  padding-inline: 2rem;
  background: repeating-linear-gradient(0deg, rgba(0, 255, 255, 0.1333333333) 0px, rgba(0, 255, 255, 0.1333333333) 1px, transparent 1px, transparent 40px), repeating-linear-gradient(90deg, rgba(0, 255, 255, 0.1333333333) 0px, rgba(0, 255, 255, 0.1333333333) 1px, transparent 1px, transparent 40px);
  animation: grid-move 4s linear infinite;
  background-color: #000;
  color: #ddd;
  z-index: 0;
}
@keyframes grid-move {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 40px 40px, 40px 40px;
  }
}
body a {
  color: #0ff;
  font-weight: 400;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  text-transform: uppercase;
  font-family: "Bryce", "Saira", sans-serif;
}
body header > h1:first-of-type {
  color: #6bb !important;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 2rem #0ff;
}
body header > h1:first-of-type:after {
  content: "_";
  animation: blink 1s step-start 0s infinite;
  margin-left: 0.1em;
}
@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}
body h1 {
  color: #cc6;
  text-shadow: 0 0 2rem #ff0;
}
body h2 {
  color: #f66;
  text-shadow: 0 0 2rem #f88;
}
body h3 {
  color: #6b6;
  text-align: center;
  margin-top: 2em;
  text-shadow: 0 0 2rem #8f8;
}
body p {
  text-justify: inter-word;
}
body p b,
body p strong {
  color: #cc6;
  font-weight: bold;
}
body table {
  border-collapse: collapse;
  width: 100%;
  background-color: rgba(102, 0, 255, 0.1333333333);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  font-size: 0.85em;
}
body table tr th,
body table tr td {
  border: 1px solid #000099;
  padding: 0.25em 0.5em;
  text-align: center;
}
body table tr th {
  color: #66f;
}
body table tr td.label {
  font-weight: bold;
  color: #cc6;
}
@media (max-width: 768px) {
  body table {
    /* use grids */
  }
}

ul {
  list-style: "> ";
}
ul li {
  margin-block: 0.75em;
}
ul ul {
  list-style: "- ";
}
ul ul li {
  margin-block: 0.5em;
}

code {
  color: #6b6;
}

figure {
  margin: 2em auto;
  text-align: center;
}
figure.right {
  float: right;
  margin-left: 2em;
}
figure img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 6rem rgba(102, 102, 255, 0.5333333333);
}
figure figcaption {
  margin-top: 0.5em;
  font-size: 0.8em;
  color: #0ff;
}

blockquote {
  font-family: sans-serif;
  color: #0ff;
  border-left: 4px solid #66f;
  background-color: rgba(102, 102, 255, 0.1333333333);
  padding-left: 1em;
  margin-left: 0;
  font-style: italic;
  margin-block: 2em;
  padding-block: 0.1em;
  padding-inline-end: 1em;
  width: fit-content;
}
blockquote p b,
blockquote p strong {
  font-style: normal;
}
blockquote p i,
blockquote p em {
  color: #f66;
}

/*# sourceMappingURL=style.css.map */
